/* Global Resets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
button:focus {
  outline:0;
}

/* Font Declarations */
body, h1, h2, h3, h4, h5, h6 {
  font-family: 'helvetica', sans-serif;
}
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header Styling */
header {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding:.5em 2em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

nav > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.nav-li, #title-block {
  padding: 1em 2em;
  height: 60px;
}
nav a, #title-block > a {
  color: #fff;
  text-decoration: none;
}
nav li:hover {
  border-bottom: solid 4px steelblue;
}
#nav-block {
  display: flex;
  align-items: center;
}
h1 {
  font-weight: 100;
}
.title-bold {
  font-weight: 900;
}

/* Hero Styling */
#home-hero-block {
  background-image: url(../images/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 95vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.25);
}

h2 {
  color: #fff;
  font-size: 5em;
  font-weight: 100;
  padding: .5em;
}
#home-hero-block input {
  display: inline-block;
  background-color: steelblue;
  color: #fff;
  font-size: 1.5em;
  font-weight: 100;
  padding: .75em 6em;
  border: 0;
  border-radius: 6em;
  transition: background 200ms linear;
}
#home-hero-block input:hover {
  background-color: darkslateblue;
}

/* Footer Styling */
footer {
  background-color: #333;
  color: #999;
  display: flex;
  justify-content: space-between;
  padding:1em 2em;
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer p {
  font-size: .75em;
  font-weight: 100;
}

/* About Page Styling */
#about-page {
  height: 100vh;
  width: 100vw;
}
#about-hero-block {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.about-hero-image-conatiner {
  /*background-image: url(../images/about-hero-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 50vw;
  height: 100vh;*/

}
#about-hero-image {
  max-height:100vh;

}
#about-block {
  width: 50vw;
  padding: 2em 5em;
}
h3 {
  font-size: 3em;
  margin-bottom: 1em;
}
.about-text {
  margin: 1em 0;
}


/* Mission Styling */
#mission-app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.missions-card {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  box-shadow: 0px 0px 15px #000;
  padding: 5em 10em;
  width: 100%;
  min-width: 1080px;
  text-align: left;
  position: relative;
  bottom: 5em;
}
.missions-card > p {
  margin-top: .5em;
}
.mission_name, .mission_id, .mission_text {
  font-family: monospace;
}
.mission-hero-image {
  background-image: url(../images/missions-hero-img2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 18em;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 3em 3.5em;
}
#missions-content-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#missions-content-block button {
  background-color: steelblue;
  color: #fff;
  font-size: 1em;
  font-weight: 100;
  padding: 1em 4em;
  border: 0;
  border-radius: 6em;
  transition: background 200ms linear;
  text-align: center;
  margin-top: 2em;
}
#missions-content-block button:hover {
  background-color: darkslateblue;
}
.mission-hero-image h3 {
  margin-bottom: 0;
  color: #fff;
}

/* Launches Styling */
#launches-app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.launches-card {
  background-color: #ebeff2;
  border: 0;
  border-radius: 5px;
  box-shadow: 0px 0px 15px #000;
  padding: 5em 10em;
  text-align: left;
  width: 100%;
  max-width: 1080px;
}
.launches-card > p {
  margin-top: .5em;
}
.launches_name, .launches_id, .launches_text {
  font-family: monospace;
}
.launches-hero-image {
  background-image: url(../images/missions-hero-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 15em;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 3em 3.5em;
}
.launches-hero-image h3 {
  margin-bottom: 0;
  color: #fff;
}
#launches-content-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

}
#launches-content-block button {
  background-color: steelblue;
  color: #fff;
  font-size: 1em;
  font-weight: 100;
  padding: 1em 4em;
  border: 0;
  border-radius: 6em;
  transition: background 200ms linear;
  text-align: center;
  margin: 2em 0 6em 0;
}
#launches-content-block button:hover {
  background-color: darkslateblue;
}
.hero-text {
  width: 55%;
  padding: 2em 3.5em;
}
.hero-text p {
  margin: 1em 0;
}
